<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>教务管理系统-文件下载</title>
</head>
<body>

  <!-- page-wrapper开始 -->
  <div id="page-wrapper">
    <div class="graphs">

      <div class="panel panel-default">
        <div class="panel-heading page-title">文件下载</div>
      </div>

      <div class="container">
        <form action="" method="post" enctype="multipart/form-data">            
                <select name="fsid">
                    <option>选择目录</option>
                <foreach name="fs" item="f">
                    <option value="{$f.fsid}">
                        {$f.fsname}
                    </option>
                </foreach>
                </select> 
            <input type="submit" value="确定">
        </form>
                </div>

                <div>
            <table width=80% border='1'>
                  <tr>
                     <td>fid</td>
                     <td>fname</td>
                     <td>ftype</td>
                     <td>操作</td>
                     </tr>

                     <foreach name="fl" item="v">

                     	<tr>
                     		<td>{$v['fid']}</td>
                     		<td>{$v['fname']}</td>
                     		<td>{$v['ftype']}</td>
                     		<td><a href="__CONTROLLER__/download?f={$v['fname']}">下载</a>
                     			<a href="__CONTROLLER__/delete">删除</a>
                     		</td>
                        </tr>
 
                     </foreach>

                	</table> 
                </div>

          </div>
        </div>
    </body>
    </html>