<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>新建学期工作表</title>
	</head>

	<body>
	
		
		<div id="page-wrapper">
			<div class="graphs">
				<div class="panel panel-default">
					<div class="panel-heading page-title">新建学期工作表</div>
				</div>

				<div class="container">
					<form method="post" action="__CONTROLLER__/make_work_table">
						请输入年份：<input type="text" name="year" placeholder="格式：2019" required>
						请选择学期：<select name="semester">
							         <option value="1">第一学期</option>
							         <option value="2">第二学期</option>
						           </select>
						<table>
							<tr>
								<th>周次</th>
								<th>内容</th>
								<th>文件提交类型</th>
								<th>截止日期</th>
							</tr>
							</table>
						<button type="submit">保存</button>
					</form>
				</div>
				<script src="__PUBLIC__/Admin/js/jQuery.min.js"></script>
				<script>
					var html="";
					for (var i=1;i<=20;i++){						
						html+='<tr>';
						html+='<td><input type="text" name="counts[]" value="'+i+'" readonly="value" ></td>';
						html+='<td><input type="text" name="content[]" size="80px" ></td>';
						html+='<td><select name="uploadFile_type[]">';
						html+='<option value="0">无提交文件</option>';
						html+='<option value="1">电子</option>';
						html+='<option value="2">纸质</option>';
						html+='<option value="3">电子+纸质</option>'; 
						html+='</select></td>';
						html+='<td><input type="date" name="date[]" ></td>';/*required 非空验证*/
						html+='</tr>';						 
					}
					$("table").append(html);
				</script>
			</div>
		</div>
	</body>
	</html>